[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
Core/Output*/
UI/Output*/
UI/WinForms/Output*/
Data/Oracle/Output*/
Data/PostgreSQL/Output*/
Data/Redis/Output*/
Data/SQLServer/Output*/
Data/SQLite/Output*/
Core/OsmSharp.UnitTests/test-results*/
*.userprefs
Output*/
OutputAndroid*/
OutputWindowsPhone*/
.vs*/
*.psess
test-results*/
TestResults*/
*.vsp
.DotSettings
*.vspx
*.patch
*.osm.pbf
TestResult.xml
.vs*/

packages/*
!packages/repositories.config
